@page "/lessons"
@using CodeQuestUI.Models
@inject HttpClient Http
@rendermode InteractiveServer

<h1>Lessons</h1>

@if (lessons == null)
{
    <p>Loading lessons...</p>
}
else
{
    <ul class="lesson-list">
        @foreach (var lesson in lessons)
        {
            <li class="lesson-card">
                <div class="lesson-title">@lesson.Title</div>
                <div class="lesson-level">Level @lesson.LevelNumber</div>
            </li>
        }
    </ul>

}

@code {
    List<LessonDto>? lessons;

    protected override async Task OnInitializedAsync()
    {
        lessons = await Http.GetFromJsonAsync<List<LessonDto>>("/api/lessons");
    }
}
