@page "/login"
@rendermode InteractiveServer
@using CodeQuestUI.Services
@inject AuthService Auth
@inject NavigationManager Nav

<h1>Login</h1>

<input placeholder="Email" @bind="emailOrUser" />
<br />
<input placeholder="Password" type="password" @bind="password" />
<br />

<button @onclick="HandleLogin">Login</button>

@if (!string.IsNullOrWhiteSpace(error))
{
    <p style="color:red">@error</p>
}

@code {
    string emailOrUser = "";
    string password = "";
    string? error;

    async Task HandleLogin()
    {
        error = null;

        var (ok, err) = await Auth.Login(new()
        {
            Email = emailOrUser,
            UserName = emailOrUser, 
            Password = password
        });

        if (ok) Nav.NavigateTo("/lessons");
        else error = err;
    }
}
