.nav {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

    .nav a {
        color: #e5e7eb;
        text-decoration: none;
        padding: 0.5rem;
        border-radius: 6px;
    }

        .nav a.active {
            background: #1e293b;
            font-weight: bold;
        }

        .nav a:hover {
            background: #334155;
        }
